.searchButton {
  padding: 20px;
  font-size: 1.8rem;
  width: 20rem;
  margin-right: $border-header-size;
}
.searchInput {
  display:inline;
  background: rgba($secondaryDark, 0.5);
  color: $white;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border: 0;
  width: 80rem;
  padding: 20px;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  overflow: hidden;
  flex-grow: 2;
  margin-right: 20px;
  margin-left: $border-header-size;
}
.searchLabel{
    color: $white;
    font-size: 4rem;
    margin: 10px;
    margin-bottom: 30px;
    margin-left: $border-header-size;
    font-weight: 100;
    display:block;
}
.searchBox{
  display: flex;
  justify-content: center;
}